$colors: #ff9d42, #08407c;

body {
  background: #08407c;
}

.square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: squares 2.5s ease-in-out infinite;
}

.light {
  width: calc(100vw/33);
  height: calc(100vw/33);
  border-radius: 0px;
  background: #f1678e;
  position: relative;
  float: left;
}


@for $i from 1 through 1000 {
  .light:nth-child(odd) {
    background: nth($colors, 1);
  }
  .light:nth-child(even) {
    background: nth($colors, 2);
  }
}

@keyframes squares {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
  }
}
